In [1]:
import pysam
import pandas as pd

transcript = "/Users/Miko/Desktop/SP18/BIMM 182/Project/refseq.genes.ncbi37"

In [2]:
df_transcript = pd.read_table(transcript)
df_transcript.head()

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,0,NM_032291,chr1,+,66999824,67210768,67000041,67208778,25,"66999824,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",0,SGIP1,cmpl,cmpl,"0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,1,NM_052998,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",0,ADC,cmpl,cmpl,"-1,-1,-1,0,0,0,2,2,0,1,0,2,"
2,1,NM_001145278,chr1,+,16767166,16786584,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767270,16770227,16774469,16774636,16775696,1...",0,NECAP2,cmpl,cmpl,"0,2,1,1,2,0,1,2,"
3,1,NM_001145277,chr1,+,16767166,16786584,16767256,16785491,7,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",0,NECAP2,cmpl,cmpl,"0,2,1,1,2,0,1,"
4,1,NM_001080397,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",0,SLC45A1,cmpl,cmpl,"0,1,1,1,0,1,1,0,"

In [3]:
type(df_transcript)

pandas.core.frame.DataFrame

In [4]:
df_chr1 = df_transcript[df_transcript['chrom'] == 'chr1']
df_chr1.head()

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,0,NM_032291,chr1,+,66999824,67210768,67000041,67208778,25,"66999824,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",0,SGIP1,cmpl,cmpl,"0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,1,NM_052998,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",0,ADC,cmpl,cmpl,"-1,-1,-1,0,0,0,2,2,0,1,0,2,"
2,1,NM_001145278,chr1,+,16767166,16786584,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767270,16770227,16774469,16774636,16775696,1...",0,NECAP2,cmpl,cmpl,"0,2,1,1,2,0,1,2,"
3,1,NM_001145277,chr1,+,16767166,16786584,16767256,16785491,7,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",0,NECAP2,cmpl,cmpl,"0,2,1,1,2,0,1,"
4,1,NM_001080397,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",0,SLC45A1,cmpl,cmpl,"0,1,1,1,0,1,1,0,"

In [5]:
df_chr1.shape    # 4066 rows actually (4067 includes the header)

(4067, 16)

In [6]:
exonRange_chr1 = df_chr1[['name', 'strand', 'exonCount', 'exonStarts', 'exonEnds', 'exonFrames']]
exonRange_chr1.head()

,name,strand,exonCount,exonStarts,exonEnds,exonFrames
0,NM_032291,+,25,"66999824,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...","0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,NM_052998,+,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...","-1,-1,-1,0,0,0,2,2,0,1,0,2,"
2,NM_001145278,+,8,"16767166,16770126,16774364,16774554,16775587,1...","16767270,16770227,16774469,16774636,16775696,1...","0,2,1,1,2,0,1,2,"
3,NM_001145277,+,7,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...","0,2,1,1,2,0,1,"
4,NM_001080397,+,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...","0,1,1,1,0,1,1,0,"

## Create a dictionary, where key is the gene, and the value is the strand(+/-)

In [7]:
gene_strand_dict = {}

genes = exonRange_chr1['name'].tolist()
strand = exonRange_chr1['strand'].tolist()

In [8]:
len(genes)

4067

In [9]:
len(strand)

4067

In [ ]:
for g, s in zip(genes, strand):  
    gene_strand_dict[g] = s
len(gene_strand_dict)

In [10]:
len(set(genes))

4014

## Operations with the exon start and end points

In [ ]:
# ONLY the first gene
gene1_chr1_exon = exonRange_chr1[exonRange_chr1['name'] == 'NM_032291']

gene1_chr1_exon_starts = gene1_chr1_exon['exonStarts'].tolist()

gene1_chr1_exon_ends = gene1_chr1_exon['exonEnds'].tolist()

gene1_chr1_exon_frames = gene1_chr1_exon['exonFrames'].tolist()

In [ ]:
# For loop only runs once: operates on the string 
for string in gene1_chr1_exon_starts:
    starts = string.split(',')
    starts = list(filter(None, starts))  # get rid of the empty string at the end
  
for string in gene1_chr1_exon_ends:
    ends = string.split(',')
    ends = list(filter(None, ends))
    
for string in gene1_chr1_exon_frames:
    frames = string.split(',')
    frames = list(filter(None, frames))

print(frames)

## Create a dictionary, where the key is the gene, and the value is a list of exon start and end positions

In [ ]:
exon_list = []
for s, e in zip(starts, ends):  
    exon_list.append([s,e])
len(exon_list)

In [ ]:
# Lengths of each exon
for exon in exon_list:
    print(int(exon[1]) - int(exon[0]))

In [ ]:
gene_exon_dict = {}
gene_exon_dict['NM_032291'] = exon_list
print(gene_exon_dict)

In [ ]:
# Used AFTER the sequence is fetched
def reverse_complement(sequence):
    
    complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'}
    seq = "AGTATC"
    reverse_complement = "".join(complement.get(base, base) for base in reversed(seq))
    #reverse_complement